#container{
	width: 700px;
	margin: 0 auto;
}

#container > h1{
	font-variant: small-caps;
	font-weight: bold;
	font-size:36px;
	letter-spacing: 0.09em;
}


.project-left{
	float:left;
	width:180px;
	border: 2px solid #555555;
	border-radius: 8px;
	display:block;
	margin-right:20px;
	padding-bottom:9px;
	margin-bottom: 20px;
	position:relative;
}

.project{
	overflow: hidden;
	height: auto;	
}
.project-right{
	margin-top:0;
}
.project-left:hover{
	box-shadow: inset 2px 2px 2px #aaaaaa;
	background-color: #fcfcfc;
}
.project-img{
	width:90%;
	margin-left:5%;
	margin-right:5%;
}
.project-img-overlay{
	width:90%;
	margin-left:5%;
	margin-right:5%;
	display:none;
	position:absolute;
	
}
.project-left:hover .project-img-overlay{
	display:block;
}
h2{
	font-size:18px;
	margin-top: 0px;
	text-align:center;
	color:black
}

